<ion-header>
  <ion-navbar>
    <ion-title>
      Novo jogo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="valid" (ngSubmit)="saveGoal()">

      <ion-item>
        <ion-label class="color-yelow">Gols</ion-label>
        <ion-input type="number" [(ngModel)]="goal.goals" name="goals" formControlName="goals"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label class="color-yelow">Vitória</ion-label>
      <ion-input type="number" [(ngModel)]="goal.victory" name="victory" formControlName="victory"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  class="color-yelow">Empate</ion-label>
      <ion-input type="number" [(ngModel)]="goal.draw" name="draw" formControlName="draw"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow">Derrota</ion-label>
      <ion-input type="number" [(ngModel)]="goal.defeat" name="defeat" formControlName="defeat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow">Data</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="goal.date" name="date" formControlName="date"></ion-datetime>
      <!-- <ion-input type="text" [(ngModel)]="goal.date" name="date"></ion-input> -->
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow">Assistência</ion-label>
      <ion-input type="number" [(ngModel)]="goal.assistance" name="assistance" formControlName="assistance"></ion-input>
    </ion-item>
  
    <button [disabled]="valid.invalid" ion-button  block>Cadastrar jogo </button>

  </form>
</ion-content>
