<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
    <ion-buttons right>
      <button right ion-button icon-only (click)="addNewGroup()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="valid" (ngSubmit)="logForm()" class="form-center">

      <ion-item>
        <ion-label class="color-yelow">Grupo</ion-label>
        <ion-select [(ngModel)]="auth.id_group" name="id_group" formControlName="id_group">
            <ion-option class="color-blue" *ngFor="let g of groups" value="{{g.id}}">{{g.name}}</ion-option>
        </ion-select>
      </ion-item>

    <ion-item>
      <ion-label class="color-yelow" >Login</ion-label>
      <ion-input type="text" [(ngModel)]="auth.login" name="login" formControlName="login"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow" >Senha</ion-label>
      <ion-input type="password" [(ngModel)]="auth.password" name="password" formControlName="password"></ion-input>
    </ion-item>

    <button [disabled]="valid.invalid" ion-button class="button" block>Login</button>
  </form>

</ion-content>
