<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Ínicio" tabIcon="home"></ion-tab>
  <div *ngIf="admin">
      <ion-tab [root]="tab2Root" class="admin" tabTitle="Cadastrar" tabIcon="add-circle"></ion-tab>
  </div>
  <ion-tab [root]="tab3Root" tabTitle="Jogadores" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Menu" tabIcon="settings"></ion-tab>
</ion-tabs>

