<!--
  Generated template for the NewSeasonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastrar nova temporada</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <b class="color-yelow">
    Atenção: Ao cadastrar uma nova temporada, 
    a temporadaa atual será encerrada automaticamente
    e o processo não pode ser revertido.
  </b>

  <br>

  <form (ngSubmit)="saveNewSeason()" style="margin-top: 61px;">
    <ion-item>
      <ion-label class="color-yelow">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="newSeason.descrpition" name="descrpition"></ion-input>
    </ion-item>  
    <button ion-button type="submit" block>Cadastrar nova temporada</button>
  </form>
</ion-content>
