<!--
  Generated template for the NewGroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Novo grupo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p class="color-yelow">Dê um nome do grupo, depois adicione os caras do raxa.</p>

  <p class="color-yelow">Feito para você, blz :) </p>

  <form [formGroup]="valid" (ngSubmit)="form()" class="form-center">

      <ion-item>
          <ion-label class="color-yelow">Temporada</ion-label>
          <ion-input type="text" [(ngModel)]="groupUser.descrpition" name="descrpition" formControlName="descrpition"></ion-input>
        </ion-item>

    <ion-item>
      <ion-label class="color-yelow" >Nome do grupo</ion-label>
      <ion-input type="text" [(ngModel)]="groupUser.group" name="group" formControlName="group"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow" >Seu nome</ion-label>
      <ion-input type="text" [(ngModel)]="groupUser.name" name="name" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow" >Login</ion-label>
      <ion-input type="text" [(ngModel)]="groupUser.login" name="login" formControlName="login"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow" >Senha</ion-label>
      <ion-input type="password" [(ngModel)]="groupUser.password" name="password" formControlName="password"></ion-input>
    </ion-item>
    
    <button [disabled]="valid.invalid" ion-button class="button" block>Criar novo grupo</button>
  </form>

</ion-content>
