<ion-header>

  <ion-navbar>
    <ion-title>Configurações conta</ion-title>
  </ion-navbar>
  
</ion-header>
  
<ion-content padding>
  <form [formGroup]="valid" (ngSubmit)="form()" class="form-center">
    
    <ion-item>
      <ion-label class="color-yelow" >Nome</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" name="name" formControlName="name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label class="color-yelow" >Login</ion-label>
      <ion-input type="text" [(ngModel)]="user.login" name="login" formControlName="login">{{user.login}}</ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label class="color-yelow" >Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" formControlName="password"></ion-input>
    </ion-item>

    <button [disabled]="valid.invalid" ion-button class="button" block>Alterar</button>
  </form>    
</ion-content>