<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="save()">
    <ion-item>
      <ion-label class="color-yelow">Nome</ion-label>
      <ion-input type="number" [(ngModel)]="profile.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="color-yelow">Nova Senha</ion-label>
      <ion-input type="number" [(ngModel)]="profile.password" name="password"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Atualizar dados</button>
  </form>
</ion-content>
