<!--
  Generated template for the ResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sua média por jogos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="column">
    <img class="profile" src="{{ people.photo ||  'assets/imgs/people.png' }}" alt="file"/>
  </div>

  <ion-list>
    <ion-item>{{people.name}}</ion-item>
    <ion-item>Gol: {{people.goal}}</ion-item>
    <ion-item>Vitória: {{people.victory}}</ion-item>
    <ion-item>Jogos: {{people.game}}</ion-item>
  </ion-list>
</ion-content>
