<ion-header>
  <ion-navbar>
    <ion-title>
      Lista de Jogadores
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let u of users" (click)="history(u)">
      <ion-avatar item-start>
        <img src="{{u.photo || 'assets/imgs/people.png'}}">
      </ion-avatar>
      <h2 class="color-yelow">{{ u.name }}</h2>
      <h3 class="color-white">{{ u.login }}</h3>
      <!-- <p>Bom jogador</p> -->
    </ion-item>
  </ion-list>
</ion-content>
