page-home {

    img {
        background-color: #ddd;
        border-radius: 100%;
        height: 170px;
        -o-object-fit: cover;
        object-fit: cover;
        width: 176px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -60px;
        margin-top: -7px;
    }

    .icon-camera {
        width: 25px;
        height: 25px;
        margin-right: 42px;
        padding-top: 0px;
    }

    .column {
        margin-bottom: 65px;
    }

}