<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-header>
  <ion-navbar>
      <ion-title>
          {{ statistics.name }}
      </ion-title>
      <ion-buttons right>
          <button right ion-button icon-only (click)="newPhoto()">
              <ion-icon name="camera"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div class="column">
    <img class="profile" src='{{ photo }}' alt="file"/>
  </div>

  <ion-list class="list-color">
    <ion-item>Gols: {{ statistics.goals }}</ion-item>
    <ion-item>Vitória: {{ statistics.victory }}</ion-item>
    <ion-item>Empate: {{ statistics.draw }} </ion-item>
    <ion-item>Derrota: {{ statistics.defeat }}</ion-item>
    <ion-item>Assistência: {{ statistics.assistance }}</ion-item>
  </ion-list>
  
</ion-content>
