<!--
  Generated template for the FrequencyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Frenquência</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    

  <ion-list>
    <ion-item *ngFor="let f of frequency">
      <ion-avatar item-start>
        <img src="{{f.photo || 'assets/imgs/people.png'}}">
      </ion-avatar>
      <h2 class="color-yelow">{{ f.name }}</h2>
      <h3 class="color-white">{{ f.login }}</h3>
      <p class="color-white">Total de frenquência: {{ f.frequency }}</p>
    </ion-item>
  </ion-list>

</ion-content>
