<!--
  Generated template for the SeasonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Temporadas</ion-title>
    <ion-buttons right>
      <button right ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let s of seasons" (click)="load(s)">
      <h2 class="color-yelow">{{ s.descrpition }}</h2>
      <div *ngIf="s.isActive">
          <p class="color-yelow">(Atual)</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
