<!--
  Generated template for the CompareResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Comparação</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{you.photo || 'assets/imgs/people.png'}}">
      </ion-avatar>
      <h2 class="color-yelow">{{you.name}}</h2>
      <h3 class="color-white">Gol: {{you.goal}}</h3>
      <p class="color-white">Vitória: {{you.victory}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{friend.photo || 'assets/imgs/people.png'}}">
      </ion-avatar>
      <h2 class="color-yelow">{{friend.name}}</h2>
      <h3 class="color-white">Gol: {{friend.goal}}</h3>
      <p class="color-white">Vitória: {{friend.victory}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <h2 class="color-yelow">Resultado</h2>
      <h3 class="color-white">{{result.goal}}</h3>
      <p class="color-white">{{result.victory}}</p>
    </ion-item>
  </ion-list>

</ion-content>
