<!--
  Generated template for the ImprovimentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sugestões</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="valid" (ngSubmit)="form()" class="form-center">
      <p class="color-yelow">Adicione uma sugestão</p>
      <ion-item>
        <ion-textarea [(ngModel)]="improvement.description" name="description" formControlName="description"></ion-textarea>
      </ion-item>
      <button [disabled]="valid.invalid" ion-button class="button" block>Gravar sugestão</button>
    </form>
</ion-content>
