<ion-header>
  <ion-navbar>
      <div *ngIf="user; else friend">
          <ion-title> {{ user.name }} </ion-title>
      </div>

      <ng-template #friend>
          <ion-title>Histórico</ion-title>
      </ng-template>

      <ion-buttons right>
        <button *ngIf="admin" right ion-button icon-only (click)="addRaxa()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
        
        <button right ion-button icon-only (click)="compare()">
          <ion-icon name="contacts"></ion-icon>
        </button>
      </ion-buttons>        

  </ion-navbar>
</ion-header>
  
<ion-content padding>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let h of history" (click)="choice(h)">
      <h2 class="color-yelow">{{h.date.date | date: 'dd/MM/yyyy' }}</h2>
      <h3 class="color-white">gol: {{h.goals}} vitória: {{h.victory}}</h3>
      <!-- <p>Bom jogador</p> -->
    </ion-item>
  </ion-list>

</ion-content>