// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content{
    background: url('../assets/imgs/teste.jpg');
    z-index: 2;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity : 1.0
}

.form-center {
    margin: auto;
    padding-top: 20%;
}

button {
    color: #FFF;
    background-color: green;
    border: none;
    height: 60px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.button {
    color: #FFF;
    background-color: #1825a9;
    border: none;
    height: 60px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 17px;    
}

.button:hover {
    transform: scale(1.05);
}

.toolbar-background {
    background-color:rgba(34, 165, 41, 0.753);
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.tabbar {
    /** background-color:rgb(14, 29, 161) !important; **/
    background-color:rgba(34, 165, 41, 0.753) !important;
    color: #ffffff !important; 
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #ffffff;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.tabs-md .tab-button[aria-selected=true] {
    color: #ffffff !important;
    padding: 0;
}

.tabs-md .tab-button-icon {
    color: #ffee00;
}

.tabs-md .tab-button[aria-selected=false] {
    color: #ffee00 !important;
    padding: 0;
}

.tabs-md .tab-button {
    min-height: 5.6rem;
    font-weight: normal;
    color: #ffee00;
    padding: 0;
}

.button-inner {
    color: #ffee00;
}

.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #f4f4f4;
    background-color: #199a1e;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

ion-avatar {
    background-color: #ffee00;
    border-radius: 100%;
}

ion-label {
    color: #ffee00;
}

.color-yelow {
    color: #ffee00 !important;
}

.color-blue {
    color: #1825a9 !important;
}

.color-white {
    color: white !important;
}

ion-content.has-refresher > .scroll-content {
    background-color: #199a1e;
}

.action-sheet-md .action-sheet-button {
    text-align: left;
    text-align: start;
    position: relative;
    overflow: hidden;
    min-height: 4.8rem;
    font-size: 1.6rem;
    color: #222;
    background: #199a1e;
    padding: 0 16px;
}

.action-sheet-md .action-sheet-group {
    background: #199a1e;
}

.scroll-content{
    background-color: #088900dd
}