<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastrar novo Usuário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="valid" (ngSubmit)="saveGoal()">

  <ion-item>
    <ion-label class="color-yelow">Nome do usuário</ion-label>
    <ion-input type="text" [(ngModel)]="user.name" name="name" formControlName="name"></ion-input>
  </ion-item>
      
  <ion-item>
    <ion-label class="color-yelow">Login</ion-label>
    <ion-input type="text" [(ngModel)]="user.login" name="login" formControlName="login"></ion-input>
  </ion-item>

  <ion-list radio-group [(ngModel)]="user.is_admin" name="is_admin" formControlName="is_admin">
      <ion-list-header>
        É administrador?
      </ion-list-header>
      <ion-item>
        <ion-label class="color-yelow">Sim</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label class="color-yelow">Não</ion-label>
        <ion-radio value="0" checked="true"></ion-radio>
      </ion-item>
  </ion-list>

  <ion-item>
    <ion-label class="color-yelow" >Senha</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" name="password" formControlName="password"></ion-input>
  </ion-item>

  <button [disabled]="valid.invalid" ion-button block>Cadastrar novo Usuário</button>

</form>

</ion-content>
