<!--
  Generated template for the ScorersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Goleadores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
          
  <ion-list>
    <ion-item *ngFor="let s of scores">
      <ion-avatar item-start>
        <img src="{{s.photo || 'assets/imgs/people.png'}}">
      </ion-avatar>
      <h2 class="color-yelow">{{ s.name }}</h2>
      <h3 class="color-white">{{ s.login }}</h3>
      <p class="color-white">Total de gols: {{ s.goals }}</p>
    </ion-item>
  </ion-list>

</ion-content>
