<!--
  Generated template for the VictoriousPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Vitoriosos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let v of victorious">
      <ion-avatar item-start>
        <img src="{{v.photo || 'assets/imgs/people.png'}}">
      </ion-avatar>
      <h2 class="color-yelow">{{ v.name }}</h2>
      <h3 class="color-white">{{ v.login }}</h3>
      <p class="color-white">Total de Vitórias: {{ v.victory }}</p>
    </ion-item>
  </ion-list>

</ion-content>
