<!--
  Generated template for the ResultOldSeasonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{season.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="pageScores()">Goleadores</ion-item>
    <ion-item (click)="pageVictorious()">Mais vitoriosos</ion-item>
    <ion-item (click)="pageFrequency()">Mais frequentadores</ion-item>
  </ion-list>
</ion-content>
