<ion-header>

  <ion-navbar>
    <ion-title>{{user.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="valid" (ngSubmit)="saveGoal()">

      <ion-input type="hidden" [(ngModel)]="newGoal.goal_id" name="goal_id" formControlName="goal_id"></ion-input>

      <ion-item>
        <ion-label class="color-yelow">Gols</ion-label>
        <ion-input type="number" [(ngModel)]="newGoal.goals" name="goals" formControlName="goals"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label class="color-yelow">Vitória</ion-label>
      <ion-input type="number" [(ngModel)]="newGoal.victory" name="victory" formControlName="victory"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow">Empate</ion-label>
      <ion-input type="number" [(ngModel)]="newGoal.draw" name="draw" formControlName="draw"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow">Derrota</ion-label>
      <ion-input type="number" [(ngModel)]="newGoal.defeat" name="defeat" formControlName="defeat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow">Data</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="newGoal.date" name="date" formControlName="date"></ion-datetime>
      <!-- <ion-input type="text" [(ngModel)]="goal.date" name="date"></ion-input> -->
    </ion-item>

    <ion-item>
      <ion-label class="color-yelow">Assistência</ion-label>
      <ion-input type="number" [(ngModel)]="newGoal.assistance" name="assistance" formControlName="assistance"></ion-input>
    </ion-item>
  
    <button [disabled]="valid.invalid" ion-button block>Cadastrar Jogo</button>

  </form>
</ion-content>
