<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Menu</ion-title>
    <ion-buttons right>
      <button right ion-button icon-only (click)="result()">
        <ion-icon name="football"></ion-icon>
      </button>
      <button right ion-button icon-only (click)="improvement()">
        <ion-icon name="clipboard"></ion-icon>  
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item (click)="pageSeason()">Temporadas</ion-item>
    <ion-item (click)="pageConfigUser()">Conta usuário</ion-item>
    <div *ngIf="admin">
      <ion-item (click)="pageNewUser()" class="admin">Cadastrar novo usuário</ion-item>        
    </div>
  </ion-list>

  <ion-list>
    <ion-item (click)="pageHistory()">Histórico</ion-item>
    <ion-item (click)="pageScores()">Goleadores</ion-item>
    <ion-item (click)="pageVictorious()">Mais vitoriosos</ion-item>
    <ion-item (click)="pageFrequency()">Mais frequentadores</ion-item>
  </ion-list>

  <ion-list>
    <ion-item (click)="logout()">Sair</ion-item>
  </ion-list>

</ion-content>